<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %><br>
  </div>

  <br>
  <%= f.fields_for :students do |ff| %>
  <h2>Edit Student</h2>
    <div>
      <div class="subfield">
        <%= ff.label :name %><br>
        <%= ff.text_field :name %>
      <div class="subfield">
        <%= ff.label :email %><br>
        <%= ff.text_field :email %>
      <div class="subfield">
        <%= ff.label :password %><br>
        <%= ff.text_field :password %><br>
        <div class="subfield">
          <%= ff.check_box :_destroy %><br>
          <%= ff.label :_destroy %><br>
        </div>
      </div>
      </div>
    </div>
    </div>

    <%= ff.fields_for :grades do |fff| %>
    <h4>Edit Grades</h4>
      <div>
        <div class="subsubfield">
          <%= fff.label :student_id %><br>
          <%= fff.number_field :student_id %>
        </div>
        <div class="subsubfield">
          <%= fff.label :assignment_name %><br>
          <%= fff.text_field :assignment_name %>
        </div>
        <div class="subsubfield">
          <%= fff.label :grade %><br>
          <%= fff.text_field :grade %><br>
        </div>
        <div class="subfield">
          <%= fff.check_box :_destroy %><br>
          <%= fff.label :_destroy %><br>
        </div>
      </div>
      <% end %>
  <% end %>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
