<!DOCTYPE html>
<html>
<%= render 'partials/navbar' %>
<%= notice %>
<head>
  <title>NegaGradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p><h3><%= link_to 'Log Out', logout_path, method: :delete %></h3></p>

</body>
</html>
